.login-container{
  padding: 10;
  width: 30%;
  height: 200px;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 2px 2px 0;
}
.login-form .form-inputs input{
  width: 80%;
  height: 20px;
}
.login-form label.email{
  margin-right: 32px;
}
.login-form label.password{
  margin-right: 2px;
}
.signup-container{
  padding: 10;
  width: 40%;
  height: 300px;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 2px 2px 0;
}
.signup-form .form-inputs input{
  width: 66%;
  height: 20px;
}
.signup-form label.email{
  margin-right: 116px;
}
.signup-form #user_password{
  margin-left: 87px;
}
